{{#if showError}}
<div class="row">
    <div class="alert alert-danger col-lg-12 col-center">
        {{#if errorDefinition}} 
            {{ errorDefinition }}
        {{else}}
            Error! Please try again.
        {{/if}}
    </div>
</div>
{{/if}}

<form {{#if fileName}}action="/upload-branch"{{else}}action="/upload"{{/if}} method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="file-upload">File:</label>
                <input type="file" name="uploadedFile" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                {{#if fileName}}
                    <input name="name" value="{{ fileName }}" class="form-control" type="text" placeholder="Title" readonly="true">
                    <input name="docID" type="hidden" value="{{ id }}">
                {{else}}
                    <input name="name" class="form-control" type="text" placeholder="Title">
                {{/if}}
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input name="author" class="form-control" type="text" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="changes">Description/Changes</label>
                <textarea name="description" class="form-control" placeholder="Description/Changes" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center upload-btn">
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary btn-block" value="Upload File">
        </div>
    </div>
</form>